<div class='container'>

<h4>Your Dates</h4>
<div class='completed'>

</div>

<table>
  <thead>
    <tr>
      <th data-field='name'>Name</th>
      <th data-field='date'>Date</th>
      <th data-field='location'>Location</th>
      <th data-field='date-review'></th>
    </tr>
  </thead>
</table>
</div>
