<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="https://use.fontawesome.com/00eee0672f.js"></script>
</head>

<body>
    <header>
        <nav class="grey darken-1">
            <div class="nav-wrapper row container">
                <div class="col s12 m6">
                    <i class="fa fa-book fa-3x" aria-hidden="true"></i>
                    <a href="/" class="brand-logo">Little Black Book</a>
                </div>
                <div class="col s12 m4 right-nav valign-wrapper">
                    <!-- Dropdown Trigger -->
                    <a class='dropdown-button btn valign blue lighten-2' href='#' data-activates='dropdown1'>Menu</a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown1' class='dropdown-content'>
                        <li><a href="#!">one</a></li>
                        <li><a href="#!">two</a></li>
                        <li class="divider"></li>
                        <li><a href="#!">three</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    {{{body}}}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script src="/javascripts/contacts.js"></script>
</body>

</html>
