<div class='container'>
    <h4 class='center-align'> Plan Your Next Date</h1>
    <div class="row">
      <div class='s6 col'>
    <form action='/plan_date' method='post'>
        <label for='suitor_id'>Select Contact</label>
        <select class='suitor_select' name='suitor_id' style='display:block'>
          {{#each data}}
          <option value='{{this.id}}'>{{this.name}}</option>
          {{/each}}
        </select>
        <button class='btn' type='submit'>Set Date</button>
    </form>
      </div>
      <div class='s6 col'>
        <div class='contact_container' style='display:none'>
        </div>
      </div>
</div>
