<div class='container'>
    <h4 class='center-align'> Plan Your Next Date</h1>
    <div class="row">
      <div class='s6 col'>
    <form action='/plan_date' method='post'>
        <label for='suitor_id'>Select Contact</label>
        <select class='suitor_select' name='suitor_id' style='display:block'>
          {{#each data}}
          <option value='{{this.id}}'>{{this.name}}</option>
          {{/each}}
        </select>
        <div class='row'>
          <div class='col s9'>
          <label for='location' required>Location</label>
          <input type='text' name='location' required/>
          </div>
          <div class='col s3'>
            <button class='btn waves-effect red darken-1'><i class="fa fa-yelp" aria-hidden="true"></i> Yelp</button>
          </div>
        </div>
        <label for='date' >Date</label>
        <input type='date' name='date' required/>
        <label for='time'>Time</label>
        <input type='time' name='time' required />
        <button class='btn' type='submit' >Set Date</button>
    </form>
      </div>
      <div class='s4 col'>
        <div class='contact_container' style='display:none'>
        </div>
      </div>
</div>
