<div class='container'>
    <h4 class='center-align'> Plan Your Next Date</h1>
    <form>
      <select>
      {{#each data}}
      <option value='{{this.id}}'>{{this.name}}</option>}
      {{/each}}
    </select>
    <input type='text' />
    </form>
</div>
