<div class="container">
  <div class="row">
    <h3>Edit my profile</h3>
    <h3>{{title}}</h3>
    <hr>
    <div class="row">
      <div class="col s12 m3 outline-me">
        <img class="circle responsive-img"src="https://s27.postimg.org/3lifeb783/Screen_Shot_2017_01_03_at_8_21_54_PM.png" alt="">
        <button class="btn red" type="cancel" name="cancel">Cancel</button>
        <button class="btn green" type="submit" name="submit">Save</button>
      </div>
      <div class="col s12 m9">
        <form class="" action="index.html" method="post">

        </form>
      </div>
    </div>
  </div>
</div>
