<div class="container">
    <div class="row profile-header">
      <div class="col s12 m9">
        <h3>Edit my profile</h3>
        <h3>{{title}}</h3>
      </div>
      <div class="col s12 m3">
        <button class="btn red" type="submit" name="submit">Delete Account</button>
      </div>
    </div>
        <hr>
        <div class="row">
            <div class="col s12 m3 outline-me">
                <img class="circle responsive-img" src="https://s27.postimg.org/3lifeb783/Screen_Shot_2017_01_03_at_8_21_54_PM.png" alt="">
                <button class="btn blue" type="submit" name="change_photo">Change Photo</button>
            </div>
            <div class="col s12 m9">
                <form class="" action="" method="post">
                    <div class="input-field col s6">
                        <input value="{{data.first_name}}" id="first_name" type="text">
                    </div>
                    <div class="input-field col s6">
                        <input value="{{data.last_name}}" id="last_name" type="text">
                    </div>
                    <div class="input-field col s12">
                        <input value="{{data.email}}" id="email" type="text">
                    </div>
                    <div class="col s6">Update Password
                        <div class="input-field col s12">
                            <input placeholder= "Old Password" value="" id="current_password" type="password">
                        </div>
                        <div class="input-field col s12">
                          <input placeholder= "New Password" value="" id="new_password" type="password">
                        </div>
                        <div class="input-field col s12">
                            <input placeholder= "Retype New Password" value="" id="retype_new_password" type="password">
                        </div>
                    </div>
                    <button class="btn red" type="cancel" name="cancel">Cancel</button>
                    <button class="btn green" type="submit" name="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
