<div class="container">
    <div class="row profile-header">
        <h3>How'd the date go?</h3>
    </div>
    <div class="col s12 m9">
    <p>Your date with  on  at </p>
    </div>
                <form>
                <!-- <form method="post" action="/review_date?_method=put&date_id={{data.id}}"> -->
                    <div class="input-field col s6">
                      <label for="date" class="active">Date</label>
                      <input value="{{date_data.rating}}" name="date" type="date">
                    </div>
                    <button class="btn red" type="reset" name="cancel">Clear Changes</button>
                    <button class="btn green" type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
