body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #eeeeee
  color:#fafafa;
}

/* nav styling */
.container {
    width:85%;
}

header {
  margin-bottom: 1em;
}

a {
  color: #00B7FF;
}

.input-field {
  display:flex;
}

.input-field label {
  color: #fff;
  font-size: .9em;
}

nav .input-field input {
  background-color: #fff;
  color: #626262;
  font-size: .8em;
  padding-left: 0;
}

.btn-flat {
  color:#fff;
}

.brand-logo {
  margin-left: .5em;
}

/* Profile Page */
#drop_down {
  background-color:#FFF;
  outline:2px solid black;
}

.change-photo {
  background-color:blue;
}

.pass-field {
  margin-left: 1em;
}

.profile-header {
  display:flex;
  align-items:center;
}

.right-nav {
  display:flex;
  justify-content: space-around;
}

.row .col .passwordinput {
  margin-left: 1em;
}


.row .col .btn {
  width:100%;
  margin-bottom:1em;
  margin-top: 1em;
}

.row .col .submitbutton {
  width: 100%;
  white-space: normal;
  padding:0px;
}

.row .col .logoutbutton {
  margin-left: 1em;
}
/* Contacts page */

span.stars, span.stars span {
    display: block;
    background: url(stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}

.carousel {
  width:100%;
  margin:auto;
}
.carousel .carousel-item {
  width:20vw;
  height:50vh;
}

.carousel-item h6 {
  text-transform:uppercase;
}

.carousel-item .responsive-img {

}

.hidden_form {
  display:none;
}

/* main content index styling */

.leftside {
  margin-top: 6em;
}

.explanations {
  margin-top: 2em;
}

.explanation {
  margin-top: 2em;
}

label.active {
  color:#000;
}

/* sos */

.sos {
  height: auto;
  width: 100%;
}

/* their interests */

.interest {
  margin-top: 10vh;
}
