body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #eeeeee
  color:#fafafa;
}

/* nav styling */
.container {
    width:85%;
}

header {
  margin-bottom: 1em;
}

a {
  color: #00B7FF;
}

.input-field {
  display:flex;
}

.input-field label {
  color: #fff;
  font-size: .9em;
}

nav .input-field input {
  background-color: #fff;
  color: #626262;
  font-size: .8em;
  padding-left: 0;
}

.btn-flat {
  color:#fff;
}

.brand-logo {
  margin-left: .5em;
}

/* Profile Page */
.pass-field {
  margin-left: 1em;
}

.profile-header {
  display:flex;
  align-items:center;
}

.right-nav {
  display:flex;
  justify-content: space-around;
}

.row .col .m4 {
  margin-left: 1em;
}

.row .col .btn {
  width:100%;
  margin-bottom:1em;
  margin-top: 1em;
}
/* main content index styling */

.leftside {
  margin-top: 6em;
}

.explanations {
  margin-top: 2em;
}

.explanation {
  margin-top: 2em;
}

label.active {
  color:#000;
}
